SECRET_KEY=django-insecure-2!2_@8i2#0*y9sr!!)ij(-2$)5f9ovq90hjm(6y+-ua!1k8uzh

OPENAI_API_TOKEN=sk-*********

AZURE_OPENAI_KEY=
AZURE_OPENAI_ENDPOINT=https://*****.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-35-turbo-G8word

LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

NGROK_URL=

POSTGRES_DB=G8word
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
POSTGRES_HOST=localhost #make this 'db' when running docker-compose up, otherwise 'localhost'
POSTGRES_PORT=5432

# Docker環境: redis://redis:6379/0
# 本地: redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0